:root{
  --rrojo: solid red 0.09px;
}
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container{
  margin: auto;
  border: dashed black 1px;
  font-family: sans-serif;
  font-weight: 100;
}
.main{
  background: gray;
}
.sf-form{

}
.sf-form form div{

}
input[type=text],
input[type=email],
input[type=number],
select{
  border: var(--rrojo);

  width: 100%;


}
