/**** MOBILE FIRST DESIGN = 320px ****/
@import url('https://fonts.googleapis.com/css?family=Sarabun 100 200 300 400 500 600 700 800 ');
/*==================================[GENERAL]==*/
:root {
 --lightyellow: #ffeeaa;
 --green: #668000;
 --lightgreen: #7f885b;
 --midgreen: #285839;
 --darkgreen: #192F23;
 --liggreen: #67b96a;
 --lightorange: #dbbd9f;
 --bestorange: #D4812F;
 --midorange: #BE7433;
 --sofred:  	#8F4E3A;
 --darkred: #863A28;
 --fullred: #be3a28;
 --midwhite: #8D8D8D;
 --crispywhite: #fff;
 --darkbrown: #693B16;
 --seriousblack: #1D1A19;
 --notsoblack: #1E2327;
}

*, *::before, *::after {
 box-sizing: border-box;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 font-kerning: auto;
}

* {
 margin: 0px;
 padding: 0px;
}

body {
 font-family: 'Sarabun', sans-serif;
 font-weight: 300;
}
a,
a:hover,
a:visited,
a:active,
a:focus,
a:link {
 text-decoration: none;
 color: inherit;
}
/*==================================[NAVBAR]==*/
#toggle{
 display:none;
}
header{
 width: 100%;
 height: 63px;
 margin: 0 auto;
}
#navbar {
 height: 64px;
 position: fixed;
 background-color: var(--bestorange);
 width: 100%;
 display: inline-grid;
 grid-template-columns: 4fr 1fr;
 justify-content: space-between;
 z-index: 1;
}
.logo{
 float: left;
 height:64px;
 width: 100%;
 background: var(--darkgreen);
}
.logo img{
 height: 64px;
 padding-left: 20px;
}
.menu{
 background:var(--bestorange);
 overflow-y: hidden;
 height: 0;
 transition: 500ms height;
 left: 0;
 top: 64px;
 width: 100%;
 position: absolute;
}
#toggle:checked ~ .menu {
 height: 190px;
}
.toggle-label{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.toggle-label span{
 top: 30px;
 right: 15px;
 display:none;
}
.toggle-label span,
.toggle-label span::before,
.toggle-label span::after{
 display: block;
 background: var(--darkgreen);
 height: 3.5px;
 width: 30px;
 position: relative;
 justify-self: center;
}

.toggle-label span::before,
.toggle-label span::after{
 content: '';
 position: absolute;
}
.toggle-label span::before{
 bottom: 8px;
}
.toggle-label span::after{
 top: 8px;
}
.menu-items {
 list-style: none;
 padding: 0;
 margin: 0;
}
.menu-items > li {
 list-style: none;
 padding: 0;
 margin: 0;
}
.menu-items > li a {
 display: block;
 font-size: 1em;
 line-height: 3em;
 padding: 0 1em;
 background-color: var(--notsoblack);
 color: var(--midwhite);
 letter-spacing: 1px;
 font-weight: bold;
 text-transform: uppercase;
 transition: 500ms background-color, 500ms color;
}
.menu-items > li a:hover {
 background-color: var(--midwhite);
 color: var(--darkgreen);
}
.menu-items > li:nth-child(even) a {
 background-color: var(--seriousblack);
}
.menu-items > li:nth-child(even) a:hover{
  background-color: var(--midwhite);
  color: var(--darkgreen);
}
/*==================================[*SECTION: Welcome]==*/
#welcome-section{
 height: 100vh;
 background: url('https://i.postimg.cc/W1py6pKb/home-bckgnd.jpg') no-repeat left/cover;
}
main section{
  width: 100%;
}
#welcome-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#welcome-section::before,
#projects::before, 
#profile::before,
#contact::before{
 content: "";
 display: block;
 height: 50px;
 margin: -30px 0 0;
}
#welcome-section h1{
 font-size: 3em; 
}
#welcome-section h1,
#welcome-section p{
 color: var(--crispywhite);
 width: 80%;
}
#welcome-section p{
 margin-bottom: .5em;
}
#welcome-section p a {
 color: var(--lightyellow);
}
.message a{
  color: var(--darkbrown);
} 
.btn-form{
 display: inline-block; 
 padding: 1em 1.8em; 
 margin: 3em 0.3em 0.3em 0;  
 border-radius: 3px;
 box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12); 
 text-align:center;
 position:relative;
}
.btn-form:active{
 box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
.btn-primary{
 background-color:var(--midorange);
 font-weight:300;
} 
.btn-secondary{
 background-color:var(--midwhite);
 font-weight:300;
}
/*==================================[*SECTION: Projects]==*/
#projects{
 height: auto;
 background: var(--crispywhite);
 width: 100%;
 margin: 0 auto;
} 
.wrapper{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 padding: 33px 30px;
}
.wrapper h3{
 color: var(--notsoblack);
 text-transform: uppercase;
 font-size: 2em;
 margin-bottom: 1em;
 font-weight: 100;
}
.project-tile{
 width: 100%;
}
.project-img {
 float: left;
 font-size:0;
 border: var(--notsoblack) 5px solid;
 border-top-left-radius: 3px;
 border-top-right-radius: 3px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-img img{
 width: 100%;
 height: auto;
}
.project-det{
 padding-bottom: 10px;
 float: left;
 height:auto;
 width: 100%;
}
.project-det h5{
 font-size: 1.2em;
 font-weight: 800;
}
.project-det h5{
  padding-top: 15px;
 color: var(--notsoblack);
 text-align: center;
}
.project-det p{
  color: var(--notsoblack);
  text-align: left;
  padding-left: 15px;
}
.info{
 width: 100%;
 padding-top: 5px;
 padding-bottom: 8px;
 display: inline-grid;
 grid-template-columns: 1fr 1fr;
 grid-column-gap: 1em;
 justify-content: space-between;
 color: var(--midorange);
}
.tech{
 text-align: start;
 display: flex;
 align-items: center; 
}
.tech-icon img {
  height: 20px;
  color: var(--bestorange);
}
.link{
 text-align: end;
 color: var(--crispywhite);
}
.tech i{
  padding: 3px;
}
.btn-project{
  display: block; 
  padding: 5px 0px 5px 0px; 
  margin: 0px;  
  border-radius: 3px;
  width: 100%;
  background: var(--midwhite);
  text-align:center;
  position:relative;
 }
 .btn-project:hover, 
 .btn-project:active{
  box-shadow:inset 0 0.6em 2em -0.3em rgba(212,129,47,0.55),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  background: var(--notsoblack);
  color: var(--bestorange);
 }
 .btn-project:active{
  background: var(--notsoblack);
  color: var(--bestorange);
  transform: scale(1.1) translate(2px, 3px);
 }
hr {
  margin-top: 15px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right,var(--midorange), var(--notsoblack),var(--midorange));
  margin-bottom: 15px;
}
/*==================================[*SECTION: Profile]==*/
#profile{
  height: auto;
  background: var(--notsoblack);
}
#profile h3{
  text-transform: uppercase;
  text-align: center;
  color: var(--midwhite);
  font-weight: 100;
}
#profile .wrapper .container .skills{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: .8rem;
 }
 .skill-item{
  color: var(--midwhite);
  text-align: center;
}
.skill-item i{
  font-size: 4em;
}
 #profile .wrapper .container .personal-info {
   margin-top: 2em;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-gap: .8rem; 
 }
 .photo{
  display: flex;
  justify-content: center;
  height:auto;
 }
 .photo img{
  margin-top: 0px;
  height: 200px;
  border-radius: 100px;
 }
 .data{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .data h4{
   font-weight: 200;
   font-size: 2em;
 }
 .data h4,
 .data p{
  color: var(--midwhite);
  padding: 5px;
 }
 .social-media{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
 }
 .rrss-item{
   color: var(--midwhite);
 }
 .wrapper-h3{
  margin-bottom: 5px !important; 
 }
 .sub-title{
   font-size: 1em;
   text-transform: uppercase;
   font-weight: 100;
   margin-bottom: 10px;
   text-align: center; 
 }
 /*==================================[*SECTION: Contact]==*/
 #contact{
   background: var(--lightgreen);
 }
 .contact-form{
   width: 100%;
 }
 #survey-form{
   display: grid;
   grid-template-columns: 1fr;
   width: 100%;
 }
 .first-line,
 .second-line,
 .third-line{
   width: 100%;
   font-size: 1.3em;
   font-weight: 100;
 }
 .first-line label,
 .first-line input,
.second-line label,
.second-line textarea{
  line-height: 2em;
  padding: 10px;
}
.first-line input,
.second-line textarea,
#submit{
  line-height: 2em;
  padding: 10px;
  border-radius: 5px;
  border: 1.8px solid var(--sofred);
}
.first-line input:hover,
.second-line textarea:hover{
  box-shadow: inset 0px 0px 15px -2px rgba(143,78,58,0.91);
  border: 1.8px solid var(--sofred);
}
 #survey-form div label,
 #survey-form div input,
 #survey-form div textarea{
   width: 100%;
 }
 #submit{
  font-size: .8em;
  font-weight: 100;
  background: var(--darkgreen);
  color:var(--crispywhite);
  border: 1.8px solid var(--lightgreen);
 }
 #submit:hover, 
 #submit:active{
  background: var(--notsoblack);
  color: var(--crispywhite);
  font-weight: 400;
 }
 #submit:hover{
  background: var(--notsoblack);
  color: var(--bestorange);
  transform: scale(1.1) translateX(.3px) translateY(.3px);
  transition: all 900ms ease;
 }
 /*==================================[*SECTION: Footer]==*/
footer{
  height: 6vh;
  background: var(--bestorange);
  display: flex;
  justify-content: center;
}
footer p{
  text-align: center;
  align-self: center;
}
/*==================================[@media: 440]==*/
@media only screen and (min-width: 440px) {
  #navbar{
    grid-template-columns: 6fr 1fr;
  } 
  #welcome-section{
    align-content: flex-end;
  }
  #welcome-section h1{
    margin-top: 2em;
  }
  #welcome-section h1{
    margin-top: 3em;
  }
  .btn-form{
    margin: 1em 0.3em 0.3em 0;
  }
}
/*==================================[@media: 550]==*/
@media only screen and (min-width: 550px) {
  #navbar{
    grid-template-columns: 7fr 1fr;
  }
  .wrapper
   {
    display: flex;
    flex-direction: column;
  }
  #projects .wrapper .container {
    width: 70%;
   }
  .project-tile{
    margin-bottom: 15px;
   }
   #profile .wrapper{
   display: grid;
   height: 100%;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: repeat(6, 1fr);
   grid-gap: 0rem; 
  }
  #profile .wrapper h3{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-bottom: 15px
  }
  #profile .wrapper .container{
    grid-column: 1 / 4;
    grid-row: 2 / 7;
  }
  #profile .wrapper .container .skills{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.2rem;
   }
   .skill-item i{
     font-size: 3.5em;
   }
   #profile .wrapper .container .personal-info {
  margin-top: 2em;
   display: grid;
   height: 100%;
   grid-template-columns: 1fr;
   grid-gap: .8rem; 
  }
  .data{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .data h4{
    font-weight: bold;
  }
  .data p{
    width: 86%;
  }
  #contact .wrapper .container{
    width: 75%;
  }
}

/*==================================[@media: 760]==*/
@media only screen and (min-width: 760px) {
  header{
    height: 72px;
  }
  #navbar {
    height: 78px;
    position: fixed;
    background-color: var(--bestorange);
    display: grid;
    grid-template-columns: 2fr 4fr;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
   }
   #toggle,
   #navbar label, 
   #navbar label span{
     display: none;
   }
   .logo{
    float: left;
    height:78px;
    width: 100%;
    background: var(--darkgreen);
    display: flex;
    justify-content: left;
    align-items: center;
   }
   .logo img{
    height: 72px;
    padding-left: 20px;
   }
   .menu{
     overflow: initial;
     position: unset;
     height: 100%;
   }
   .menu-items{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   }
   .menu-items li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-items li a, 
  .menu-items > li:nth-child(even) a{
    padding: 15px;
    text-transform: uppercase;
    background: var(--bestorange);
    color: var(--seriousblack);
  }
  .menu-items > li a:hover,
  .menu-items > li:nth-child(even) a:hover{
    background: var(--lightorange);
    color: var(--midgreen);
  }
  .menu-items li a,
  .menu-items li a:after,
  .menu-items li a:before,
  .menu-items li:nth-child(even),
  .menu-items li:nth-child(even) a:after,
  .menu-items li:nth-child(even) a:before{
    transition: all 1s;
  }
  .data p{
    font-size: 1.3em; 
  }
}