/**** MOBILE FIRST DESIGN = 380px ****/
@import url('https://fonts.googleapis.com/css?family=Sarabun');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

:root {
 --lightyellow: #ffeeaa;
 --green: #668000;
 --lightgreen: #7f885b;
 --midgreen: #285839;
 --darkgreen: #192F23;
 --liggreen: #547555;
 --bestorange: #D4812F;
 --midorange: #BE7433;
 --sofred:  	#8F4E3A;
 --darkred: #863A28;
 --fullred: #be3a28;
 --midwhite: #8D8D8D;
 --crispywhite: #fff;
 --darkbrown: #693B16;
 --seriousblack: #1D1A19;
 --notsoblack: #1E2327;
}

*::before, *::after {
 box-sizing: border-box;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 font-kerning: auto;
}

* {
 margin: 0px;
 padding: 0px;
}

body {
 font-family: 'Sarabun', sans-serif;
 font-weight: 300;
}
a,
a:hover,
a:visited,
a:active,
a:focus,
a:link {
 text-decoration: none;
 color: inherit;
}
#toggle{
 display:none;
}
.toggle-label{
}
header{
 width: 100%;
 height: 63px;
 margin: 0 auto;
}
#navbar {
 height: 64px;
 position: fixed;
 background-color: var(--bestorange);
 width: 100%;
 z-index: 1;
}
.logo{

 float: left;
 height:auto;
}
.logo img{
 margin-top: 0px;
 height: 64px;
}
.menu{
 background:var(--bestorange);
 overflow-y: hidden;
 height: 0;
 transition: 500ms height;
 left: 0;
 top: 64px;
 width: 100%;
 position: absolute;
}
#toggle:checked ~ .menu {
 height: 190px;
}
.toggle-label span{
 top: 30px;
 left: 280px;
 display:none;
}
.toggle-label span,
.toggle-label span::before,
.toggle-label span::after{
 display: block;
 background: var(--darkgreen);
 height: 3.5px;
 width: 30px;
 position: relative;
 justify-self: center;
}

.toggle-label span::before,
.toggle-label span::after{
 content: '';
 position: absolute;
}
.toggle-label span::before{
 bottom: 8px;
}
.toggle-label span::after{
 top: 8px;
}
.lista {
 list-style: none;
 padding: 0;
 margin: 0;
}
.lista > li {
 list-style: none;
 padding: 0;
 margin: 0;
}
.menu-items > li a {
 display: block;
 font-size: 1em;
 line-height: 3em;
 padding: 0 1em;
 background-color: var(--notsoblack);
 color: var(--midwhite);
 letter-spacing: 1px;
 font-weight: bold;
 text-transform: uppercase;
 transition: 500ms background-color, 500ms color;
}
.menu-items > li a:hover {
 background-color: var(--midwhite) !important;
 color: var(--darkgreen);
}
.menu-items > li:nth-child(even) a {
 background-color: var(--seriousblack);
}
#welcome-section{
 height: 100vh;
 background: url('https://i.postimg.cc/W1py6pKb/home-bckgnd.jpg') no-repeat left/cover;
}
main section{
  width: 100%;
}
#welcome-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#welcome-section::before,
#projects::before{
 content: "";
 display: block;
 height: 50px;
 margin: -30px 0 0;
}
#welcome-section h1{
 font-size: 3em; 
}
#welcome-section h1,
#welcome-section p{
 color: var(--crispywhite);
 width: 80%;
}
#welcome-section p{
 margin-bottom: .5em;
}
#welcome-section p a {
 color: var(--midwhite);
 text-decoration-line: underline
}
.invoce { 
 display: grid;
 grid-template-columns: 1fr 1fr;
}
.btn-form{
 display: inline-block; 
 padding: 1em 1.8em; 
 margin: 3em 0.3em 0.3em 0;  
 border-radius: 3px;
 box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12); 
 text-align:center;
 position:relative;
}
.btn-form:active{
 box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
.invoice a{
 color: var(--darkbrown);
}
.btn-primary{
 background-color:var(--midorange);
 font-weight:300;
} 
.btn-secondary{
 background-color:var(--midwhite);
 font-weight:300;
} 
#projects{
 height: auto;
 background: var(--midwhite);
 width: 100%;
 margin: 0 auto;
} 
.wrapper{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 padding: 33px 30px;
}
.wrapper h3{
 color: var(--crispywhite);
 text-transform: uppercase;
 font-size: 2em;
 margin-bottom: 1em;
}
.project-tile{
 width: 100%;
}
.project-img {
 float: left;
 font-size:0;
 border: var(--crispywhite) 5px solid;
 border-top-left-radius: 3px;
 border-top-right-radius: 3px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-img img{
 width: 100%;
 height: auto;
}
.project-det{
 padding-bottom: 10px;
 float: left;
 height:auto;
 background: var(--crispywhite);
 width: 100%;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project-det h5{
 font-size: 1.2em;
 font-weight: 800;
 border:var(--crispywhite) 5px solid;
 
}
.project-det h5, 
.project-det p{
 color: var(--darkbrown);
 text-align: center;
}

.info{
 width: 100%;
 padding-top: 15px;
 padding-bottom: 8px;
 display: inline-grid;
 grid-template-columns: 1fr 1fr;
 grid-column-gap: 1em;
 justify-content: space-between;
 color: var(--crispywhite);

}
.tech{
 text-align: start;
 
}
.link{
 text-align: end;
}
.tech i{
  padding: 3px;
}
.btn-project{
  display: block; 
  padding: 0px 0px 3px 0px; 
  margin: 0px;  
  border-radius: 3px;
  width: 100%;
  background: var(--midgreen);
  text-align:center;
  position:relative;
 }
hr {
  margin-top: 15px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right,var(--midorange), var(--bestorange),var(--midwhite));
  margin-bottom: 15px;
}


