:root{
  --bordeR: dashed red 0.9px;
  --bordeV: dotted green 0.9px;
  --bordeA: solid blue 0.9px;
  /* border: var(--bordeA);*/
}

*{
  box-sizing: border-box;
}
body{
  background: url('../img/image4270.png');
  line-height: 1em;
  font-family: Arial, sans-serif;
  padding: 0.5em;
}

.container{
  max-width: 900px;
  margin-left:auto;
  margin-right: auto;
  padding: 0.5em;

  background-color: #B1BADF;
}
header{
  text-align: center;
}
header span{
  color:rgba(255, 255, 250, 0.9);
  line-height: 1.3em;

}
.description{
  text-align: center;
  padding: 0.5em;

}
#description{
  text-align: justify;
}
.description{
  background-color: #E0DAE8;
  border-top-left-radius:  15px;
  border-top-right-radius: 15px;
}
form{
  background-color: #F4F1F7;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
main{
border-radius: 15px;
  box-shadow: 0 0 20PX 0 rgba(72, 94, 116, 0.7);
}
form{
  margin: 0px;
}
form > div{
  margin: 5px 10px 0px 10px;
}
form > div >input, form > div >select{
  font-size: 1.1em;
  width: 100%;
  padding: 10px;
}
h3{
margin: auto;
}
.div-number{
  display: flex;

}
.inp-number{
width: 70%;
}
.tex-number{
  margin-left: auto;
}
#number{
  font-size: 1.1em;
  width: 100%;
  margin-right: auto;
  padding: 10px;
}
.rd-label > p, .cb-label > p{
  margin-top: 5px;
}
.rd-btns, .cb-opns{
  display: flex;
  flex-direction: row;
}
